<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.mmall" annotation-config="true"/>



    <aop:aspectj-autoproxy proxy-target-class="true"/>


    <!--<context:annotation-config/>-->
    <!--<aop:aspectj-autoproxy/>-->


    <!--<bean id="greetingProxy" class="org.springframework.aop.framework.ProxyFactoryBean">-->
        <!--<property name="interfaces" value="com.mmall.proxy.Greeting"/>-->
        <!--<property name="target" ref="greetingImpl"/>-->
        <!--<property name="interceptorNames" value="greetingAroundAdvice"/>-->
        <!--&lt;!&ndash;<property name="interceptorNames" value="greetingThrowAdvice"/>&ndash;&gt;-->

    <!--</bean>-->


    <bean id="greetingImpl" class="com.mmall.proxy.GreetingImpl"/>

    <bean id="greetingAspect" class="com.mmall.proxy.GreetingAspect"/>

    <aop:config>
        <aop:aspect ref="greetingAspect">
            <aop:around method="around" pointcut="execution(* com.mmall.proxy.GreetingImpl.*(..))"/>
        </aop:aspect>
    </aop:config>


    <import resource="classpath:spring/spring-datasource.xml"/>




</beans>